.table {
    width: 50vw;
    border-spacing: 0;
}

.top_row {
    background-color: #d5a82aff;
    color: white;
    padding: 0%;
    height: 3vh;
}

.top_col {
    width: 25%;
    padding: 0%;
}

.top_col p2 {
    font-size: 12pt;
    display: inline-block;
    width: 25%
}

.row {
    background-color: #fcf6e5ff;
    color: #7f6000;
    padding: 0%;
    height: 4vh;
}

.col {
    width: 25%;
    padding: 0%;
}

.col p2, .col div {
    font-size: 12pt;
    display: inline-block;
    width: 25%;
}
