.title a, 
.title span {
    color: #d5a82aff;
    text-decoration: none;
    text-shadow: 2px 2px 4px #000;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  margin-bottom: 5vh;
  color: #ccc;
  text-shadow: 2px 2px 4px #000;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}