.positive {
    color: green;
}

.negative {
    color: red;
}

.main_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
    margin-bottom: 2vh;
    background-color: #fff;
    border: 2px solid #222;
    padding: 5px 30px;
    border-radius: 20px;
}

.left_container {
    justify-content: left;
}

.right_container {
    justify-content: right;

}