.positive {
    color: green;
}

.negative {
    color: red;
}

.main_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
    margin-bottom: 2vh;
    /* background-color: #fcf6e5ff; */
}

.left_container {
    justify-content: left;
}

.right_container {
    justify-content: right;

}