.row {
    background-color: #d5a82aff;
    color: white;
    padding: 0%;
    height: 3vh;
}

.col {
    width: 33.33%;
    padding: 0%;
}

.col p2 {
    font-size: 12pt;
    display: inline-block;
    width: 33.33%
}
  
