.row {
    background-color: #d5a82aff;
    color: white;
    padding: 0%;
    height: 4vh;
}

.col1 {
    width: 33.33%;
    padding: 0%;
    border-bottom: 2px solid #fff;
}

.col {
    width: 33.33%;
    padding: 0%;
}

.col p2 {
    font-size: 14pt;
    display: inline-block;
    width: 33.33%
}
  
